.home-blok {
  background-color: #475265;
  height: calc(100vh - 80px);
  color: #ffffff;
}
.home-blok-1 {
  width: 45%;
  height: 100%;
  padding: 6% 2% 2% 6%;
}
.home-blok-1-naslov {
  font-size: 68px;
  letter-spacing: -0.04em;
  line-height: 1.3;
  padding: 4% 0;
}
.home-blok-1-naslov-linija {
  width: 130px;
  height: 8px;
  background-color: #00AEEF;
  margin-top: 50px;
  margin-left: 30px;
}
.home-blok-1-text {
  font-size: 28px;
  padding: 4% 20% 4% 0;
}
.home-blok-1-mreza {
  cursor: pointer;
}
.home-blok2 {
  height: 300px;
  background-color: #F8F8FA;
}
.home-blok2-text {
  font-size: 28px;
  text-align: center;
  color: #4d4d4d;
  padding: 3% 19% 2%;
}
.home-blok3 {
  height: auto;
  background-color: #ffffff;
  position: relative;
}
.home-blok3-naslov {
  padding: 4% 6%;
  position: absolute;
}
.home-blok3-naslov-tit {
  font-size: 64px;
  letter-spacing: -0.03em;
  color: #eaeaea;
}
.home-blok3-naslov-text {
  font-size: 32px;
  letter-spacing: 0.03em;
  color: #4d4d4d;
}
.home-blok3-naslov-linija {
  width: 180px;
  height: 8px;
  background-color: #00AEEF;
  margin-top: 30px;
}
.home-blok3-prazan {
  height: 200px;
}
.home-blok3 .grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
}
.home-blok3 .grid-projekat {
  grid-column: 1;
  grid-row: 3;
}
.home-blok3 .grid-projekat:nth-child(1) {
  grid-column: 1;
  grid-row: 2 / 6;
}
.home-blok3 .grid-projekat:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 5;
}
.home-blok3 .grid-projekat:nth-child(3) {
  grid-column: 1;
  grid-row: 6 / 10;
}
.home-blok3 .grid-projekat:nth-child(4) {
  grid-column: 2;
  grid-row: 5 / 9;
}
.home-blok3 .grid-projekat img {
  width: 100%;
}
.home-blok3 .grid-projekat-opis {
  padding: 5% 4%;
}
.home-blok3 .grid-projekat-opis-title {
  font-size: 36px;
  line-height: 24px;
  color: #3d3d3d;
  padding-bottom: 2%;
}
.home-blok3 .grid-projekat-opis-text {
  width: 30%;
  font-size: 16px;
  line-height: 24px;
  color: #a3a3a3;
}
.home-blok3 .grid-projekat-picture {
  position: relative;
}
.home-blok3 .grid-projekat-picture:hover {
  opacity: 1;
}
.home-blok3 .grid-projekat-picture-hover {
  opacity: 0;
  padding-top: 250px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 174, 239, 0.8);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.home-blok3 .grid-projekat-picture-hover:hover {
  opacity: 1;
}
.home-blok3 .grid-projekat-picture-hover-logo {
  max-width: 350px;
  max-height: 100px;
  margin-bottom: 20px;
}
.home-blok3 .grid-projekat-picture-hover-opis {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.home-blok3 .grid-projekat-picture-hover-icon {
  max-width: 80px;
  max-height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.home-blok4 {
  height: 200px;
  width: 100%;
}
.home-blok5 {
  min-height: 900px;
  width: 100%;
  background-color: #212224;
  padding: 4% 24%;
}
.home-blok5-naslov {
  font-size: 64px;
  letter-spacing: -0.03em;
  color: #eaeaea;
  text-align: center;
}
.home-blok5-text {
  font-size: 32px;
  color: #4d4d4d;
  letter-spacing: -0.03em;
  text-align: center;
}
.home-blok5-slajder {
  width: 90%;
  padding-top: 12%;
}
.home-blok5-slajder-logo {
  width: 200px;
  margin: auto;
}
.home-blok5-slajder-naziv {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 15px;
}
.home-blok5-slajder-title {
  font-size: 14px;
  text-align: center;
  color: #505050;
  margin-bottom: 40px;
}
.home-blok5-slajder-poruka {
  font-size: 14px;
  line-height: 24px;
  color: #DBDBDB;
  padding-bottom: 70px;
  text-align: center;
  width: 65%;
  margin: auto;
}
.home-blok6 {
  min-height: 1400px;
  background-color: #1c1c1c;
}
.home-blok6-prvi {
  height: 700px;
  padding: 50px 30px;
}
.home-blok6-prvi-slika {
  max-width: 1084px;
  max-height: 600px;
}
.home-blok6-prvi-text {
  padding: 60px;
}
.home-blok6-prvi-text-naslov {
  width: 81%;
  font-size: 32px;
  color: #ffffff;
}
.home-blok6-prvi-text-opis {
  width: 81%;
  font-size: 14px;
  line-height: 24px;
  color: #6D6D6D;
}
.home-blok6-drugi {
  height: 700px;
}
.home-blok6-drugi-pic {
  height: 470px;
  width: 450px;
  position: relative;
}
.home-blok6-drugi-opis {
  opacity: 1;
  padding-top: 250px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(179.85deg, rgba(28, 28, 30, 0) 0.12%, #1C1C1E 99.88%), linear-gradient(179.85deg, rgba(28, 28, 30, 0) 0.12%, #1C1C1E 99.88%);
}
