@background-gray-dark: #1c1c1c;
@background-gray: #575757;
@background-gray-light: #C4C4C4;
@background-gray-lighter: #F8F8FA;

@blue: #00AEEF;

@color-gray-dark: #4a4a4a;
@color-gray: rgba(255, 255, 255, 0.5);
@color-white: #ffffff;